    body {
        background-image: url("netflix-survey.jpg");
        display: grid;
        place-items: center;
        padding: 0px;
    }
    
    #title {
        margin-bottom: 5px;
        text-align: center;
        font-size: 7vh;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 1px;
        color: white;
        transform-origin: center;
        transform: scaleX(89.2) rotateY(88.9deg);
    }
    
    span {
        color: red;
    }
    
    small {
        margin-left: 0px;
    }
    
    #description {
        text-align: center;
        font-size: 2.2vh;
        font-family: "Sorts Mill Goudy", sans-serif;
        color: white;
        transform: scaleX(81) rotateY(89.2deg);
        width: 20rem;
        
        margin: auto;
    }
    
    .container {
        margin-top: 15px;
        width: 95%;
        background-color: rgba(12, 12, 11, 0.5);
        overflow: hidden;
    }
    
    form {
        margin: 30px auto 0px;
        padding: 40px;
        width: 30%;
        height: 85%;
        background-color: rgba(0, 0, 0, 0.8);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    
    .box {
        margin-top: 17px;
        color: white;
    }
    
    .box1 {
        margin-top: 0px;
    }
    
    #name,
    #age,
    #email,
    #content {
        width: 100%;
        height: 2.7rem;
        margin-top: 15px;
    }
    
    #content {
        height: 40px;
    }
    
    .label {
        margin-left: 3px;
    }
    
    .box8 {
        margin-top: 10px;
        width: 100%;
        height: 2.7rem;
        display: grid;
        place-items: center;
        margin-left: 0px;
       
    }
    
    button {
        width: 50%;
        height: 100%;
        border-radius: 30px;
        background-color: red;
        color: white;
        font-size: 15px;
        border: none;
    }
    
    button:hover {
        background-color: white;
        color: red;
        border: none;
    }
    
    @media (max-width:768px) {
        form {
            width: 95%;
            height: fit-content;
        }
        form>div {
            height: 5%
        }
        #description {
            width: 10rem;
        }
    }